/* GENERAL */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #ebebe0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Droid Serif', sans-serif;
  padding-bottom: 20px;
  color: #54542c;
}

h2 {
  text-decoration: underline;
  font-size: 2em;
  font-family: 'Droid Serif', sans-serif;
}

.filename {
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  border-color: #CCCCCC;
  border-radius: 5px;
  background-color: #F5F2F0;
  padding: 0 0.3em 0 0.3em;
}

.yaml-tag {
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  border-color: #CCCCCC;
  border-radius: 5px;
  background-color: #F5F2F0;
  color: #0077AA;
  padding: 0 0.3em 0 0.3em;
}

.console-output {
  border-style: solid;
  border-width: thin;
  border-color: #CCCCCC;
  border-radius: 5px;
  background-color: #F5F2F0;
  padding: 0 0.3em 0 0.3em;
}

.icon::before {
    display: inline-block;
    margin-right: .25em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/* NAVBAR */
.navbar {
  background-color: #404040;
  border-bottom: 1px solid #b9b9b9;
}

.navbar a {
  color: #cccccc !important;
}

.navbar a:hover {
  color: #ffffff !important;
  background-color: #646464 !important;
}

.navbar-header .navbar-brand {
  color: white !important;
  font-size: 1.5em;
}

/* ABOUT */
.about {
  padding-top: 45px;
  padding-bottom: 30px;
}

.about .container {
    border-bottom: solid thin;
    border-color: #CCCCCC;
}

/* INSTALLATION */

.installation {
  padding-bottom: 30px;
}

.installation .container {
  border-bottom: solid thin;
  border-color: #CCCCCC;
}

/* USAGE */

.usage {
  padding-bottom: 30px;
}

.usage .container {
  border-bottom: solid thin;
  border-color: #CCCCCC;
}

/* CONFIGURATION */

.configuration {
  padding-bottom: 30px;
}

.configuration .container {
  border-bottom: solid thin;
  border-color: #CCCCCC;
}

/* CONTRIBUTE */

.contribute {
  padding-bottom: 30px;
}

.contribute .container {
  border-bottom: solid thin;
  border-color: #CCCCCC;
}

/* LICENSE */

.license {
  padding-bottom: 30px;
}

.license .container {
  border-bottom: solid thin;
  border-color: #CCCCCC;
}

/* FOOTER */

.footer {
  padding-bottom: 30px;
}

/* FORK on GITHUB logo */
#forkongithub a {
    background:#800;
    color:#fff;
    text-decoration:none;
    white-space: nowrap;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align:center;
    font-weight:600;
    padding:5px 20px;
    font-size:2rem;
    line-height:2rem;
    position:relative;
    transition:.5s
}

#forkongithub a:hover {
    background:#c11;
    color:#fff
}

#forkongithub a::before,#forkongithub a::after {
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff
}

#forkongithub a::after {
    bottom:1px;
    top:auto
}

@media screen and (min-width:800px) {
  #forkongithub {
      position:fixed;
      display:block;
      top:0;
      right:0;
      width:300px;
      overflow:hidden;
      height:400px;
      z-index:9999
  }

  #forkongithub a {
      width:300px;
      position:absolute;
      top:70px;
      right:-70px;
      transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      -o-transform:rotate(45deg);
      box-shadow:4px 4px 10px rgba(0,0,0,0.8)
  }
}
