<!-- ABOUT -->
<section class="ui container" id="about">
  <div class="ui raised segment">
    <div class="ui center aligned header">
      <div class="col-lg-12 col-md-12">
        <h1><span class="fas fa-info-circle"></span> About</h1>
      </div>
    </div>
    <!-- row -->
    <div class="row row-body">
      <div class="col-lg-12 col-md-12">
        <p>
          A Simple Gem to keep multiple locally-cloned Git Repositories up to
          date. Current release version is
          <span id="version" class="version"></span>
        </p>
        <p>
          The script will simply run
          <span class="console-output">git pull</span> on every local clone of a
          git repository that it finds under the specified directory or
          directories.
        </p>
        <p class="important-note">
          Note: Versions prior to 0.9.4 had a serious bug where the script would
          crash on startup unless there was an
          <span class="yaml-tag">exception:</span> defined in the configuration
          file. This has been fixed from version 0.9.4 onwards.
        </p>
        <div class="text-center">
          <a href="https://travis-ci.org/seapagan/update_repo"
            ><img
              src="https://travis-ci.org/seapagan/update_repo.svg?branch=master"
          /></a>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- ABOUT END -->
