<div class="container">
  <div class="row row-header">
    <div class="col-lg-12 col-md-12">
      <h1><span class="fas fa-code-branch"></span> Contribute to the Development</h1>
    </div>
  </div><!-- row -->
  <div class="row row-body">
    <div class="col-lg-12 col-md-12">
      <h2>Contributing</h2>
      <p>The source code for <span class="console-output">update_repo</span> is freely available on my <a target="_blank" class="icon fa-external-link" href="https://github.com/seapagan/update_repo">Github</a> pages, under the <a class="icon fa-external-link" target="_blank" href="http://opensource.org/licenses/MIT">MIT</a> license.</p>
      <p>If you wish to help in any way then :</p>
      <ol>
        <li>Fork it</li>
        <li>Create your feature branch (<span class="console-output">git checkout -b my-new-feature</span>)</li>
        <li>Commit your changes (<span class="console-output">git commit -am 'Add some feature'</span>)</li>
        <li>Push to the branch (<span class="console-output">git push origin my-new-feature</span>)</li>
        <li>Create a new Pull Request</li>
      </ol>
      <p>For full information on how to contribute to the development of this Gem or the Website, please see the Development section on the projects <a class="icon fa-external-link" target="_blank" href="https://github.com/seapagan/update_repo#development">Github repository</a>.</p>
    </div>
  </div><!-- row -->
</div><!-- container -->
