    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-right">
            &copy; Grant Ramsay 2017 | <span class="site-version">Website v2.0-beta</span> | See my public projects on <a target="_blank" class="icon fa-github" href="https://github.com/seapagan">Github</a>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </footer>

    <!-- build:js -->
    <script src='js/main.js'></script>
    <!-- endbuild -->
  </body>
</html>
