<!-- INSTALLATION -->
<section class="ui container" id="installation">
  <div class="ui raised segments">
    <div class="ui segment section-hdr">
      <div class="ui center aligned header">
        <div class="col-lg-12 col-md-12">
          <h1><i class="fad fa-download"></i> Installation</h1>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="ui segment">
      <div class="">
        <p>
          A working copy of both
          <a
            href="http://www.ruby-lang.org"
            target="_blank"
            class="icon fa-external-link"
            >Ruby</a
          >
          and
          <a
            href="http://git-scm.com"
            target="_blank"
            class="icon fa-external-link"
            >Git</a
          >
          need to be installed on your machine.
          <b>Git version 1.8.5 or greater is required</b>, the script will not
          run with an older version or indeed without Git installed. Ruby
          version 2.3.0 and newer are supported (older versions will probably
          work, however they error on the Travis CI system so cannot be
          automatically tested).
        </p>
        <p>
          Currently the script has only been tested under Linux, not Windows
          however Windows testing is next in the grand plan!
        </p>
        <p>
          Simply install from the command prompt as you would any other gem.
          Note that you may require <b>'sudo'</b> depending how Ruby is
          installed on your system.
        </p>
        <pre><code>gem install update_repo</code></pre>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- INSTALLATION END -->
