<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <span class="forkongithub"><a href="https://github.com/seapagan/update_repo" target="_blank">Fork me on GitHub</a></span>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Update_Repo</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#usage">Usage</a></li>
        <li><a href="#configuration">Configuration</a></li>
        <li><a href="#contribute">Contribute</a></li>
        <li><a href="#license">License</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
