<nav class="navbar navbar-expand-lg fixed-top">
  <div class="ui container section">
    <a class="navbar-brand" href="#">Update_Repo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#installation">Installation</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#usage">Usage</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#configuration">Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contribute">Contribute</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#license">License</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
