/* Put all color variable definitions here */

$body-background-color: #808080;

$headline-color: #54542c;
$section-header-color: #d7d7c1;
$section-body-color: #ebebe0;

$headerBlue: #f1f8ff;

$filename-hilight-color: #444;
$console-hilight-color: #444;
$yaml-hilight-color: #07a;
$cmdline-hilight-color: #f33;
$important-hilight-color: #f33;

$text-shadow-color: #aaa;
