/* This will contain Global directives */
body {
  background-color: $body-background-color;
  font-size: 14px;
  font-family: $body-font;
}

h1 {
  color: $headline-color;
  font-family: $headline-font;
  font-size: 2em;
  margin: 10px;
  text-align: center;
  text-shadow: $text-shadow-color 2px 1px 3px;
}

.ui.container.section {
  padding-bottom: $sectionPadding;
}

.ui.segment.section-hdr {
  background-color: $section-header-color;
  color: black;
  border-bottom: 1px solid #000;
}

.ui.segment.section-body {
  background-color: $section-body-color;
}

.travis-logo {
  text-align: center;
}

.footer-text {
  text-align: right;
  font-style: italic;
}

.filename {
  @mixin hilight-box #444;
}

.yaml-tag {
  @mixin hilight-box #07a;
}

.cmdline {
  @mixin hilight-box $cmdline-hilight-color;
}

.console-output {
  @mixin hilight-box $console-hilight-color;
}

.important-note {
  @mixin hilight-box $important-hilight-color;
  font-size: 1.2em;
  padding: 5px;
  text-align: justify;
  text-shadow: $text-shadow-color 2px 1px 3px;
}

.version {
  @mixin hilight-box $filename-hilight-color;
}
