// === COLORS ===
$body-background-color: #808080;

$hilight-border-color: #cccccc;
$hilight-background-color: #F5F2F0;

$row-border-color: #0d0d0d;
$row-header-color: #d7d7c1;
$row-body-color: #ebebe0;

$headline-color: #54542c;

$footer-color: #dddddd;

$link-hover-color: #cc0000;

$navbar-background-color: #404040;
$navbar-border-color: #b9b9b9;
$navbar-link-color: #cccccc;
$navbar-link--hover-color: #ffffff;
$navbar-link--hover-background: #646464;
$navbar-brand-color: white;