// === COLORS ===
$body-background-color: #808080;

$hilight-border-color: #ccc;
$hilight-background-color: #f5f2f0;

$row-border-color: #0d0d0d;
$row-header-color: #d7d7c1;
$row-body-color: #ebebe0;

$headline-color: #54542c;

$footer-color: #ddd;

$link-hover-color: #c00;

$navbar-background-color: #404040;
$navbar-border-color: #b9b9b9;
$navbar-link-color: #ccc;
$navbar-link--hover-color: #fff;
$navbar-link--hover-background: #646464;
$navbar-brand-color: #fff;

$filename-hilight-color: #444;
$console-hilight-color: #444;
$yaml-hilight-color: #07a;
$cmdline-hilight-color: #f33;

$forking-color: #fff;
$forking-background-color: #800;
$forking-hover-color: #c11;
$forking-box-shadow-color: rgba(0, 0, 0, .8);
